*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: rgba(131, 9, 9, 1);*/
}
body{
    width: 100%;
    background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100vh 100vw;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
}
/*------------------------------------------------------------------NavBar--------------------------------------------------------------------*/
.nav{
    background: rgba(131, 9, 9, 1);
    height: 80px;
    color: aliceblue;
}
.nav_container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    font-size: 40px;
    font-weight: 800;
}

.nav_menu{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    list-style: none;/*le saca los puntitos*/
    margin-top: 10px;
}
.nav_menu li a{
    color: aliceblue;
    text-decoration: none;/*le saca el subrayado*/
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;/*tipo de letra*/
    font-size: 30px;/*cuan grande es la letra*/
}
.nav_menu li a:hover{
    color: #FFF;
}

.nav_item{
    text-decoration: none;
    color: aliceblue;
}

.nav_label, .nav_input{
    display: none;
    padding: 10px;
}

/* boton de "contacto" */
.nav_menu .btn button{
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 35px;
    color: aliceblue;
    padding: 5px 25px;
    background: #781010;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nav_menu .btn button:hover{
    background-color: aliceblue;
    color: #e4221f;
    transform: scale(1.1);
}
/*----------------------------------------------------------------inicio---------------------------------------------------------------*/

main{
    background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010);
    width: 100vw;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}
main section img{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


/*----------------------------------------------------Contacto----------------------------------------------------------*/

.Contacto{
height: 80%;
width: 100%;
}
.fondo_contacto{
    width: 55%;
}
.container_contacto{
    display: flex;
    box-sizing: border-box;
}
.datos_personales{
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}
.datos{
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fieldset .id{
color: aliceblue;
}
.text_area{
    max-width: 400px;
    max-height: 200px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    padding-right: 30px;
}


/*----------------------------------------------------Servicios---------------------------------------------------------*/

.servicios{
    height: 100vh;
    padding: 10px;
    background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010);
}
.descripcion_servicios p{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
}
/* .Servicios{
    gap: 30px;
    font-size: 25px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    margin-left: 5px;
    width: 50%;
    margin-top: 50px;
}
.ContamosCon{
    display: flex;
    font-size: 40px;
    gap: 200px;
    margin-top: 25px;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    height: 50px; */


/*-----------------------------------------------------Ubicacion--------------------------------------------------------*/
.ubicacion{
background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010);
display: flex;
width: 100%;
height: 100vh;
flex-flow: row wrap;
}
.cercanias_info{
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    width: 80vh;
    padding: 20px;
    font-size: 35px;
    color: aliceblue;
}
.google_map{
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/*-------------------------------------------------------Lugar----------------------------------------------------------*/

/* .container_lugar{
    display: grid;
    width: 100%;
    grid-template-rows: repeat(6, 650px); */
    /*grid-template-columns: repeat (3,200px) 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat(6,1fr);*/
    /*grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    ;
} */
/* .container_lugar div{
    position:relative;
    overflow: hidden;
}
.container_lugar div p{
    position: absolute;
    top: 85%;
    font-size: 50px;
    color: aliceblue;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
} */
.container_galeria{
    height: calc(100vh - 80px);
}
/*-------------------------------------------------------Footer----------------------------------------------------------*/

.container__footer{
    
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    background-color: rgba(71, 0, 0, 1);
    bottom: 0;
    flex-direction: row;
}

.box__footer{
    display: flex;
    flex-direction: column;
}

.box__footer .logo img{
    width: 120px;
}
.box__footer h2{
    margin-bottom: 30px;
    color: aliceblue;
    font-weight: 200;
}

.box__footer h3{
    margin-top: 5px;
    color: aliceblue;
    font-weight: 400;
}
/* Logo de Redes Sociales */
.box__footer a:hover{
    opacity: 0.8;
}
.box__footer a{
    color: aliceblue;
}
/* --------------------------------------------------------Responsive NavBar----------------------------------------------------------- */
/*responsive para el menu hamburguesa*/
@media (max-width: 992px){
    .nav_label{
        display: block;
        cursor: pointer;
    }

    .nav_menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #840e0f;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path:circle(0 at center);/*para que desaparezca el menu*/
        transition: clip-path 0.7s ease-in-out;
        position: absolute;
    }
    .nav_input:checked + .nav_menu{
        clip-path: circle(100% at center);/*para cuando apretas la hamburguesa, aparezca el menu*/
    }

/*responsive para la imagen del html "lugar"*/


/*responsive para el html "servicios"*/
    .servicios .descripcion_servicios{
        font-size: 35px;
    }

/*responsive para el html "ubicacion"*/
    .google_map iframe{
        width: 750px;
        height: 500px;
        }
}
/*-----------------------------------------------------------------Responsive para Tablet-----------------------------------------------------*/
@media (max-width: 768px){

/*responsive para el html "ubicacion"*/
    .google_map iframe{
        width: 560px;
        height: 400px;
    }
    .cercanias_info{
        font-size: 30px;
    }

/*responsive para el html "servicios"*/
    .servicios .descripcion_servicios{
        font-size: 30px;
    }

}
/*------------------------------------------------------------------responsive Mobile----------------------------------------------------------*/
@media (max-width: 576px){

/*responsive para el html de "inicio*/


/*responsive para el html "ubicacion"*/
    .google_map iframe{
        width: 345px;
        height: 300px;
        }
    .cercanias_info{
        font-size: 25px;
        }

/*responsive para el html "servicios"*/
    .servicios .descripcion_servicios{
        font-size: 25px;
    }

}

/*-------------------------------------------------------------------para mobile con menos de 375px de ancho-----------------------------------*/

@media (max-width: 360px){
    /*responsive para el html "ubicacion"*/
    .google_map iframe{
        width: 250px;
        font-size: 20px;
    }

}