@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@500&family=Playfair+Display:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav {
  background: #830909;
  height: 80px;
  color: aliceblue; }
  .nav .nav_container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .nav .nav_container .nav_logo {
      font-size: 30px;
      font-weight: 800;
      padding-left: 10px;
      font-family: 'Inter', sans-serif;
      font-family: 'Playfair Display', serif;
      color: aliceblue;
      list-style: none;
      text-decoration: none; }
    .nav .nav_container .nav_label, .nav .nav_container .nav_input {
      display: none;
      padding: 10px; }
    .nav .nav_container .nav_menu {
      display: grid;
      grid-auto-flow: column;
      gap: 20px;
      list-style: none;
      /*le saca los puntitos*/
      margin-top: 10px;
      margin-right: 10px;
      /* boton de "contacto" */ }
      .nav .nav_container .nav_menu li a {
        color: aliceblue;
        text-decoration: none;
        /*le saca el subrayado*/
        font-size: 25px;
        /*cuan grande es la letra*/
        font-family: "Comfortaa", cursive; }
      .nav .nav_container .nav_menu li a:hover {
        color: #FFF; }
      .nav .nav_container .nav_menu .btn button {
        font-family: "Comfortaa", cursive;
        font-size: 25px;
        font-weight: 35px;
        color: aliceblue;
        padding: 5px 25px;
        background: #781010;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s; }
      .nav .nav_container .nav_menu .btn button:hover {
        background-color: aliceblue;
        color: #e4221f;
        transform: scale(1.1); }

.nav_item {
  text-decoration: none;
  color: aliceblue; }

body {
  background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010);
  font-family: 'Playfair Display', serif;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  width: 100%;
  height: 100%; }
  main section img {
    width: 100%;
    height: 100vh; }

footer {
  margin-top: auto; }
  footer .container__footer {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
    background-color: #470000;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around; }
    footer .container__footer .box__footer .logo img {
      padding-top: 20px;
      width: 100px;
      height: 120px; }
    footer .container__footer .box__footer h2 {
      font-size: 30px;
      padding-top: 20px;
      margin-bottom: 5px;
      color: aliceblue;
      font-weight: 200;
      font-family: "Comfortaa", cursive; }
    footer .container__footer .box__footer h3 {
      font-size: 20px;
      margin-top: 5px;
      color: aliceblue;
      font-weight: 400;
      font-family: "Comfortaa", cursive; }
    footer .container__footer .box__footer a:hover {
      /*logo de Redes Sociales*/
      opacity: 0.8; }
    footer .container__footer .box__footer a {
      font-size: 20px;
      color: aliceblue; }

main {
  background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; }
  main main section img {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover; }

.texto-inicio h1 {
  color: aliceblue;
  font-size: 40px;
  bottom: 60%;
  position: absolute;
  background-color: #7810105e;
  padding-left: 20px; }

.texto-inicio img {
  width: 100%;
  height: 100%; }

.galeria {
  height: auto; }
  .galeria .contenedor_imagen {
    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
    height: 100%; }
    .galeria .contenedor_imagen .imagen {
      width: 32%;
      position: relative;
      height: 250px;
      margin-bottom: 5px;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); }
      .galeria .contenedor_imagen .imagen img {
        width: 100%;
        height: 100%; }
      .galeria .contenedor_imagen .imagen .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #4a4a4a57;
        width: 100%;
        height: 0;
        overflow: hidden;
        color: aliceblue;
        font-family: "Comfortaa", cursive; }
        .galeria .contenedor_imagen .imagen .overlay h2 {
          color: aliceblue;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);
          font-weight: 1000; }
  .galeria .imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
    transition: .1 ease; }

.servicios {
  height: 100%;
  padding: 10px;
  background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010); }
  .servicios .descripcion_servicios p {
    color: aliceblue;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif; }

.ubicacion {
  background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010);
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap; }
  .ubicacion .google_map {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px; }
  .ubicacion .cercanias_info {
    font-family: 'Playfair Display', serif;
    padding-top: 10px;
    font-size: 35px;
    padding-left: 25px;
    color: #f0f8ff;
    width: 35%; }

.Contacto {
  height: 100%;
  width: 100%; }

.container_contacto {
  display: flex; }
  .container_contacto .formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container_contacto .formulario .datos_personales {
      font-family: "Comfortaa", cursive;
      justify-content: center;
      align-items: center;
      color: aliceblue;
      font-size: 40px; }
    .container_contacto .formulario .datos {
      font-size: 10vh;
      color: aliceblue;
      font-family: "Comfortaa", cursive;
      font-size: 20px; }
      .container_contacto .formulario .datos input {
        font-family: "Comfortaa", cursive;
        font-size: 15px; }
    .container_contacto .formulario .text_area {
      min-width: 400px;
      max-width: 400px;
      max-height: 250px;
      min-height: 250px;
      font-size: 20px;
      font-family: "Comfortaa", cursive;
      padding-right: 30px; }
    .container_contacto .formulario button {
      font-size: 20px; }
    .container_contacto .formulario .fieldset .id {
      color: aliceblue; }

.fondo_contacto {
  width: 50%;
  padding-right: 20px;
  padding-top: 20px; }

@media (max-width: 3000px) {
  .texto-inicio img {
    display: none; } }

@media (max-width: 2560px) {
  /*---------------------4K---------------------------*/
  /*responsive para el html "inicio"*/
  .texto-inicio h1 {
    font-size: 70px; }
  .texto-inicio img {
    display: none; }
  /*responsive para la imagen del html "lugar"*/
  .galeria .contenedor_imagen {
    width: 90%; }
    .galeria .contenedor_imagen .imagen {
      width: 100%;
      height: 800px; }
  /*responsive para el html de "servicios"*/
  .servicios .descripcion_servicios p {
    font-size: 40px;
    width: 100%; }
  /*responsive para el html de "ubicacion"*/
  .ubicacion .cercanias_info p {
    width: 100%;
    font-size: 50px; }
  .ubicacion .cercanias_info {
    font-size: 65px;
    width: 40%; }
  .ubicacion .google_map {
    width: 60%; }
  .google_map iframe {
    width: 900px;
    height: 800px; } }

@media (max-width: 2160px) {
  /*---------------------4K---------------------------*/
  /*responsive para el html de "ubicacion"*/
  .ubicacion .cercanias_info p {
    font-size: 45px; }
  .ubicacion .cercanias_info {
    font-size: 50px; }
  .ubicacion .google_map {
    width: 60%; }
  .google_map iframe {
    width: 800px;
    height: 700px; }
  /*responsive para el html "inicio"*/
  .texto-inicio h1 {
    font-size: 70px; }
  /*responsive para la imagen del html "lugar"*/
  .galeria .contenedor_imagen {
    width: 90%; }
    .galeria .contenedor_imagen .imagen {
      width: 100%;
      height: 700px; } }

@media (max-width: 1880px) {
  /*--------------------------------------------------*/
  /*responsive para el html de "ubicacion"*/
  .ubicacion .cercanias_info p {
    font-size: 40px; }
  .ubicacion .cercanias_info {
    font-size: 45px;
    width: 40%; }
  .ubicacion .google_map {
    width: 60%; }
  .google_map iframe {
    width: 725px;
    height: 600px; }
  /*responsive para el html de "servicios"*/
  .servicios .descripcion_servicios p {
    font-size: 35px; }
  /*responsive para el html "inicio"*/
  .texto-inicio h1 {
    font-size: 45px; }
  /*responsive para la imagen del html "lugar"*/
  .galeria .contenedor_imagen {
    width: 90%; }
    .galeria .contenedor_imagen .imagen {
      width: 100%;
      height: 600px; }
  /*responsive para el html de "contacto"*/
  .fondo_contacto {
    height: 800px; } }

@media (max-width: 1440px) {
  /*---------------------HD---------------------------*/
  body {
    min-height: 120vh; }
  /*responsive para el html de "ubicacion"*/
  .ubicacion .cercanias_info p {
    font-size: 35px; }
  .ubicacion .cercanias_info {
    font-size: 40px;
    width: 50%; }
  .google_map iframe {
    width: 600px;
    height: 600px; }
  .ubicacion .google_map {
    width: 50%; }
  /*responsive para el html "inicio"*/
  .texto-inicio h1 {
    font-size: 50px; }
  /*responsive para la imagen del html "lugar"*/
  .galeria .contenedor_imagen {
    width: 90%; }
    .galeria .contenedor_imagen .imagen {
      width: 100%;
      height: 500px; }
  /*responsive para el html de "contacto"*/
  .fondo_contacto {
    height: 650px; } }

@media (max-width: 1230px) {
  /*responsive para el html "ubicacion"*/
  .google_map iframe {
    width: 700px;
    height: 500px; }
  .ubicacion .cercanias_info {
    width: 100%;
    font-size: 40px; }
  .ubicacion .cercanias_info p {
    width: 100%;
    font-size: 35px; } }

@media (max-width: 1200px) {
  /*-------------------------------------------------*/
  /*responsive para el html"Servicios"*/
  .servicios .descripcion_servicios p {
    font-size: 38px; } }

/*responsive para el menu hamburguesa*/
@media (max-width: 992px) {
  /*-------------------------------------------------*/
  .nav .nav_container .nav_label {
    display: block;
    cursor: pointer; }
  .nav .nav_container .nav_menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #840e0f;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    /*para que desaparezca el menu*/
    transition: clip-path 0.7s ease-in-out;
    position: absolute;
    z-index: 200; }
  .nav .nav_container .nav_input:checked + .nav_menu {
    clip-path: circle(100% at center);
    /*para cuando apretas la hamburguesa, aparezca el menu*/
    position: absolute; }
  /*responsive para la imagen del html "lugar"*/
  .galeria .contenedor_imagen {
    width: 90%; }
    .galeria .contenedor_imagen .imagen {
      width: 48%;
      height: 300px; }
  /*responsive para el html"Servicios"*/
  .servicios .descripcion_servicios p {
    font-size: 30px; }
  /*responsive para el html "ubicacion"*/
  .google_map iframe {
    width: 700px;
    height: 500px; }
  .ubicacion .cercanias_info {
    width: 100%;
    font-size: 40px; }
  .ubicacion .cercanias_info p {
    width: 100%;
    font-size: 35px; }
  /*responsive para el html "contacto*/
  .fondo_contacto {
    display: none; }
  .formulario {
    padding-top: 10%; }
  body {
    height: 100vh; }
  /*responsive para el html "inicio"*/
  .texto-inicio h1 {
    font-size: 40px; } }

/*-----------------------------------------------------------------Responsive para Tablet-----------------------------------------------------*/
@media (max-width: 768px) {
  /*responsive para el html "inicio"*/
  .fondo-inicio {
    display: none; }
  .texto-inicio img {
    display: block; }
  .texto-inicio h1 {
    font-size: 35px; }
  /*responsive para el html "ubicacion"*/
  .google_map iframe {
    width: 560px;
    height: 500px; }
  .cercanias_info {
    font-size: 30px; }
  /*responsive para el html "servicios"*/
  .servicios .descripcion_servicios p {
    font-size: 35px; }
  /*responsive para el html "lugar*/
  .galeria .contenedor_imagen {
    width: 90%; }
    .galeria .contenedor_imagen .imagen {
      width: 100%;
      height: 400px; }
  /*responsive para el footer*/
  footer .container__footer .box__footer h2 {
    font-size: 20px; }
  footer .container__footer .box__footer h3 {
    font-size: 10px; }
  footer .container_footer .box_footer .logo img {
    width: 60px;
    height: 80px; } }

/*------------------------------------------------------------------responsive Mobile----------------------------------------------------------*/
@media (max-width: 576px) {
  /*responsive para el html de "inicio*/
  .texto-inicio h1 {
    font-size: 25px; }
  /*responsive para el html "ubicacion"*/
  .google_map iframe {
    width: 160%;
    height: 400px; }
  .ubicacion .cercanias_info {
    font-size: 35px; }
  .ubicacion .cercanias_info p {
    font-size: 30px; }
  /*responsive para el html "servicios"*/
  .servicios .descripcion_servicios p {
    font-size: 25px; }
  /*responsive para el html "lugar"*/
  .galeria .contenedor_imagen {
    width: 90%; }
    .galeria .contenedor_imagen .imagen {
      width: 100%;
      height: 250px; }
  /*responsive para el html "contacto"*/
  .container_contacto .formulario .text_area {
    min-width: 300px;
    max-width: 300px;
    max-height: 200px;
    min-height: 200px; }
  .container_contacto .formulario .datos_personales {
    font-size: 30px; }
  /*responsive para el footer*/
  footer .container__footer .box__footer h2 {
    font-size: 20px; }
  footer .container__footer .box__footer h3 {
    font-size: 10px; }
  footer .container_footer .box_footer .logo img {
    width: 60px;
    height: 80px; } }

@media (max-width: 414px) {
  /*-------------------------------------------------*/
  /*responsive para el html "ubicacion"*/
  .ubicacion .cercanias_info {
    font-size: 25px; }
  .ubicacion .cercanias_info p {
    font-size: 20px; } }

/*---------------------------------------------------------para mobile con menos de 375px de ancho-----------------------------------*/
@media (max-width: 375px) {
  /*responsive para el html "ubicacion"*/
  .ubicacion .cercanias_info {
    font-size: 16px; }
  .ubicacion .cercanias_info p {
    font-size: 16px; }
  /*responsive para el html "servicios"*/
  .servicios .descripcion_servicios p {
    font-size: 20px; }
  /*responsive para el html "contacto"*/
  .container_contacto .formulario .datos_personales {
    font-size: 30px; }
  .container_contacto .formulario .text_area {
    min-width: 280px;
    max-width: 280px;
    max-height: 100px;
    min-height: 100px; } }
