.Contacto{
    height: 80%;
    width: 100%;
    }
    .container_contacto{
        display: flex;


        .formulario{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .datos_personales{
                font-family: $tipografia-principal;
                justify-content: center;
                align-items: center;
                color: aliceblue;
                // font-family: 'Inter', sans-serif;
                // font-family: 'Playfair Display', serif;
                font-size: 8vh;
            }
            .datos{
                color: aliceblue;
                // font-family: 'Inter', sans-serif;
                // font-family: 'Playfair Display', serif;
                font-family: $tipografia-principal;
                font-size: 4vh;
            }
            .text_area{
                min-width: 2000px;
                max-width: 2000px;
                max-height: 800px;
                min-height: 800px;
                font-size: 4vh;
                font-family: 'Inter', sans-serif;
                font-family: 'Playfair Display', serif;
                padding-right: 30px;
            }
            button{
                font-size: 3vh;
            }
            .fieldset .id{
                color: aliceblue;
                }
                input{
                    font-size: 4vh;
                }
        }
    }
    .fondo_contacto{
        width: 50%;
        padding-right: 20px;
        padding-top: 20px;
    }