footer{
margin-top: auto;
// padding-top: 100px;
.container__footer{
    display: flex;
    // position: absolute;
    // bottom: 0;
    width: 100%;
    height: 15vh;
    font-family: 'Playfair Display', serif;
    background-color: rgba(71, 0, 0, 1);
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    .box__footer{
        .logo img{
            padding-top: 3vh;
            width: 12vh;
            height: 12vh;
        }
        h2{
            font-size: 6vh;
            padding-top: 20px;
            margin-bottom: 5px;
            color: aliceblue;
            font-weight: 200;
            font-family: $tipografia-principal;
        }
        h3{
            font-size: 2.5vh;
            margin-top: 5px;
            color: aliceblue;
            font-weight: 400;
            font-family: $tipografia-principal;
        }
        a:hover{ /*logo de Redes Sociales*/
            opacity: 0.8;
        }
        a{
            font-size: 4vh;
            color: aliceblue;
        }
}
}
}