.galeria{
        h1{
        text-align: center;
        margin: 20px 0 15px 0;
        font-weight: 300;
        font-size: 4vh;
        color: aliceblue;
    }
    .contenedor_imagen{
        display: flex;
        width: 100%;
        // margin-top: 60px;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 3px;
        height: 500px;
        .imagen{
            width: 100%;
            position: relative;
            height: 1050px;
            margin-bottom: 5px;
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
            img{
                width: 100%;
                height: 100%;
            }
            .overlay{
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #4a4a4a57;
                width: 100%;
                height: 0;
                overflow: hidden;
                // transition: .1 ease;
                color: aliceblue;
                font-family: $tipografia-principal;
                h2{
                    color: aliceblue;
                    font-size: 2vh;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    font-weight: 1000;
                }
            }
        }

    }
    .imagen:hover .overlay{
        height: 100%;
        cursor: pointer; 
        transition: .1 ease;
    }
}
