.servicios{
    height: 100%;
    padding: 10px;
    background-image: linear-gradient(to left bottom, #ff3131, #f12a28, #e4221f, #d61a17, #c9100d, #be0c0a, #b20808, #a70506, #9b080a, #8f0c0d, #840e0f, #781010);
    .descripcion_servicios p{
        color: aliceblue;
        font-size: 35px;
        font-family: 'Inter', sans-serif;
        font-family: 'Playfair Display', serif;
    }
}
